#portada h1 {
    font-size: 5em;
}



#portada {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    background-image: linear-gradient(0deg,
            rgba(36, 38, 39, 0.555),
            rgba(27, 29, 29, 0.651)), url("/assets/img/portadaimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    h1 {
        color: white;
        }
            button {
                font-size: 1.75em;
            }
}
